<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD SQL Map Config 3.0//EN"  
	"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	
	<settings>
		<!-- 全局映射器启用缓存 -->
        <setting name="cacheEnabled" value="true" />
		<!--允许 JDBC 支持生成的键-->
        <setting name="useGeneratedKeys" value="true" />
		<!--配置默认的执行器-->
        <setting name="defaultExecutorType" value="REUSE" />
		<!--自动把数据库自动按驼峰命名-->
		<setting name="mapUnderscoreToCamelCase" value="true"/>
    </settings>

    <typeAliases>
        <typeAlias type="com.walker.restfulapi.util.PageData" alias="pd"/>
    </typeAliases>


</configuration>